html {
background: url(../images/bodu.jpg);
background-position: center 0px;
background-repeat: repeat-y;
height: 100%;
position: relative;
}

h1 {padding-bottom: 5px;
font-weight: normal;
font-size: 22px;
color: #2F3032;
text-transform: uppercase;
margin-top: 5px;
padding-left: 27px;
font-family: pf_din_text_cond_prolight;
background: url(/templates/school/images/h.jpg);
background-repeat: no-repeat;
background-position: 0px 7px;
margin-bottom: 18px;}
	
@font-face {
font-family: pf_din_text_cond_prolight;
src: url(../fonts/pfdintextcondpro-light-webfont.eot);
src: url(../fonts/pfdintextcondpro-light-webfont.eot?#iefix) format('embedded-opentype'),
 url(../fonts/pfdintextcondpro-light-webfont.woff2) format('woff2'),
 url(../fonts/pfdintextcondpro-light-webfont.woff) format('woff'),
 url(../fonts/pfdintextcondpro-light-webfont.ttf) format('truetype');
}

* {margin: 0;padding: 0;outline: none;/* background: #fff; */}
body {font-family: Verdana;background: url(/images/fon/fon.jpg);background-repeat: repeat-y;min-height: 100%;position: relative;margin: 0px;background-position: center -50px;}
img { border: 0; }
a {text-decoration: none;color: #4493DE;}
a:hover { text-decoration: underline; }
/*-------------------------------------------*/
.fleft { float: left; }
.fright { float: right; }
.fclear { clear: both; }
.tleft { text-align: left; }
.tcenter {text-align: center; }
.tright { text-align: right; }
/*-------------------------------------------*/
.container {width: 100%;height: 163px;/* background-color: #FFF; */}
.line {width: 1200px;height: 22px;margin: 0 auto;/* background: #fff; */}
.wrapper {width: 1043px;height: auto;margin: 0 auto;padding: 0;/* background: #fff; */padding-left: 80px;padding-right: 80px;}
/*-------------------------------------------*/
#header {width: 100%;height: 122px;}
#header object {
width: 537px;
height: 296px;
float: left;
}
#right_header_block {float: left;font-size: 14px;color: #FFFFFF;margin-top: 25px;}
#header_top {width: 438px;height: auto;background-image: url(/images/fon/logo.jpg);background-repeat: no-repeat;padding-left: 83px;background-size: 68px 69px;height: 87px;padding-top: 14px;float: left;font-family: pf_din_text_cond_prolight;padding-right: 20px;}
#header_top h2 {font-size: 12px;color: #2e3031;/* margin-top: 16px; */text-transform: uppercase;font-weight: normal;margin-bottom: -12px;/* font-weight: bold; */}
#header_top h3 {margin-top: 10px;font-size: 16px;color: #2e3031;text-transform: uppercase;margin-bottom: -14px;font-weight: normal;}
#header_top p {margin-top: 10px;font-size: 16px;color: #2e3031;text-transform: uppercase;font-weight: normal;}
#header_bottom {
float: left;
margin-top: 22px;
}
#header_bottom h2 {
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 3px;
display: none;
}
img.login {float: left;margin-top: 15px;margin-left: 53px;display: none;}
#icon_pad {width: auto;height: 100%;float: left;margin-top: 45px;margin-left: 2px;display: none;}
#icon_pad a img { padding-right: 10px; }
#login_form {
float: right;
margin-top: 5px;
margin-left: 13px;
width: 200px;
}
#login_form input {
border: 1px solid #CCC;
margin-top: 3px;
padding: 2px;
}
#login_form input#user_name, #login_form input#user_password { width: 197px; }
#login_form input#login_button {
color: #8692AC;
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
border: none;
background: none;
float: right;
}
#login_form a {
display: block;
padding-top: 2px;
}
/*-------------------------------------------*/
.line .wrapper img {
float: left;
margin-top: 5px;
margin-left: 735px;
}
.line .wrapper form { 
float: right;
width: 230px;
margin: 0;
padding: 0;
}
.line .wrapper input {
border: none;
background-color: #C8D5E5;
color: #FFF;
font-size: 11px;
}
input#search_word {width: 219px;height: 31px;text-align: left;background: #D8D8D8;border: 0px;border-radius: 5px;float: left;padding-left: 10px;}
input#button {width: 90px;height: 31px;background: url(/templates/school/images/n.jpg);background-repeat: no-repeat;border: 0;font-size: 0px;cursor: pointer;float: left;margin-left: 6px;}
input#button:hover, #news .a:hover, .news_item a.readon:hover, #content .readmore:hover, body .comment-link, .readmore-link:hover, #header_bottom img:hover {
opacity: 0.8;
}
/*-------------------------------------------*/
#left_column {width: 702px;height: auto;float: left;font-size: 14px;color: #000000;/* background: #fff; */}
#news, #content, #blog {padding-right: 15px;text-align: justify;}
a.detail {
display: block;
float: right;
}
img.fleft { 
padding-top: 20px;
padding-right: 20px;
}
img.fright {
padding-top: 20px; 
padding-left: 20px;
}
#content, #blog { padding-top: 10px; }
#content h2, #blog h2 {padding-bottom: 5px;font-weight: normal;font-size: 22px;color: #2F3032;text-transform: uppercase;margin-top: 5px;padding-left: 27px;font-family: pf_din_text_cond_prolight;background: url(/templates/school/images/h.jpg);background-repeat: no-repeat;background-position: 0px 7px;margin-bottom: 18px;}
#content h3, #blog h3 {
color: #444;
font-weight: bold;
font-size: 11px;
margin-bottom: 15px;
}
#content p, #blog p { margin-top: 20px; }
#content strong, #blog strong { color: #6781B8; }

/*-------------------------------------------*/
#news_header {}
#news_header h2 {font-weight: normal;font-size: 22px;color: #2F3032;text-transform: uppercase;margin-top: 15px;padding-left: 27px;font-family: pf_din_text_cond_prolight;background: url(/templates/school/images/h.jpg);background-repeat: no-repeat;background-position: 0px 50%;margin-bottom: 21px;}
.news_item {
margin-top: 10px; 
margin-bottom: 25px;
}
.news_item a.readon {display: block;float: left;background: url(/templates/school/images/r.jpg);background-repeat: no-repeat;font-size: 0px;height: 30px;width: 141px;margin-bottom: 25px;margin-top: 18px;}
.news_item h3 ,.news_item h3 span.latestnews{color: #2F3130;font-size: 15px;/* font-weight: bold; */text-transform: uppercase;margin-bottom: 15px;}
.news_item h3 span {color: #4395E1;font-weight: normal;font-size: 16px;/* font-weight: bold; */font-family: pf_din_text_cond_prolight;}
/*-------------------------------------------*/
#right_column {width: 309px;height: auto;float: right;}
/*-------------------------------------------*/
#main_menu {margin-top: -16px;margin-left: -5px;}
#main_menu ul {list-style: none;}
#main_menu ul li {
 }
#main_menu ul li .separator{
font-weight: bold;
font-size: 11px;
color: #6781B8;
text-transform: uppercase;
text-decoration: none;
display: block;padding-top: 30px;
padding-left: 85px; min-height:39px;
}
#main_menu ul li a {font-weight: bold;font-size: 20px;color: #4296DE;text-transform: uppercase;text-decoration: none;display: block;padding-top: 30px;padding-left: 37px;font-family: pf_din_text_cond_prolight;font-weight: normal;padding-bottom: 17px;line-height: 18px;}
#main_menu ul li img {float: left;display: none;}
#main_menu ul li a:hover { text-decoration: none;color: #F3B057; }
#main_menu ul li ul li a {font-weight: normal;font-size: 14px;color: #444;text-transform: none;text-decoration: none;display: block;width: 263px;min-height:16px;padding-top: 0px;padding-left: 23px;margin-left: 39px;font-family: verdana;/* border-bottom: 1px solid #D7E1EB; */padding-bottom: 0;background: url(/templates/school/images/m.jpg);background-repeat: no-repeat;background-position: 0px 9px;padding-top: 2px;padding-bottom: 2px;}
#main_menu ul li ul li a:hover { 
color: #F3B055;
text-decoration: none;
}
/*-------------------------------------------*/
#footer {width: 100%;height: 110px;margin-top: 37px;}
#footer_menu {width: 100%;height: 25px;margin-left: 0px;}
#footer_menu ul { list-style: none; }
#footer_menu ul li {float: left;margin-right: 20px;font-size: 11px;color: #2E2F31;margin-top: 24px;}
#footer_menu ul li a {font-size: 15px;color: #2E2F31;text-transform: uppercase;font-family: pf_din_text_cond_prolight;}
#bottom {width: 649px;border-top: 2px solid #2F3032;}
#bottom p {color: #2E2F31;font-size: 14px;padding-top: 16px;padding-left: 0px;}

#right_column {
/* background: #fff; */
}

#identifikator {
list-style: none;
background: #FFF;
margin-top: -67px;
position: absolute;
} 
#identifikator h2 {display: none;}
#login a {display: none;}
#user_name, #user_password {
background: #D8D6D6;
border: 0px;
margin-bottom: 4px;
height: 32px;
font-size: 16px;
padding-left: 15px;
width: 126px;
border-radius: 5px;
}
#header_lost {
float: left;
margin-top: 21px;
margin-left: 34px;
}

.fon {
background-image: url(/images/fon/school.jpg);
background-position: center 0px;
background-repeat: repeat-y;
width: 1043px;
height: 326px;
}

#news .a {margin-top: -48px;
display: block;
float: right;
background: url(/templates/school/images/news.jpg);
background-repeat: no-repeat;
font-size: 0px;
height: 31px;
width: 173px;}
#content .readmore {display: block;float: left;background: url(/templates/school/images/r.jpg);background-repeat: no-repeat;font-size: 0px;height: 30px;width: 141px;margin-bottom: 25px;margin-top: 28px;}
body .comment-link, .readmore-link{padding: 0 5px 5px 14px;display: block;background: url(/templates/school/images/r.jpg);background-repeat: no-repeat;font-size: 0px;height: 30px;width: 141px;margin-top: 28px;}
#bottom p a {
color: #2E2F31;
}

.autoriz_open {background: url(/templates/school/images/v.jpg);
background-repeat: no-repeat;
width: 142px;
display: block;
font-size: 0px;
height: 31px;}
.autoriz_empty {
display: none;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: 920;
background: #0a3339;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
-moz-opacity: 0.3;
-khtml-opacity: 0.3;
opacity: 0.9;
zoom: 1;
}
.autoriz_form {display: none;position: absolute;top: 21px;width: 189px;height: 140px;z-index: 999;text-align: center;margin: -11px 0px 0px -25px;}

.autoriz_formfieldset {
border: 0px;
text-align: left;
}

.autoriz_formlabel {
font-size: 11px;
color: #fff;
margin-top: 4px;
display: block;
margin-left: 3px;
}

.autoriz_forminputbox {
border: 1px solid #000;
font-size: 11px;
font-family: verdana;
color: #85999c;
width: 145px;
height: 16px;
padding-left: 15px;
}

.autoriz_form.remember {
font-size: 11px;
color: #fff;
margin-top: -6px;
margin-bottom: 7px;
float: left;
display: block;
margin-left: 16px;
}

.autoriz_form.checkbox {
float: left;
margin-top: -5px;
margin-left: 16px;
}

.autoriz_form.button{
background: url(/templates/school/images/v.jpg);
background-repeat: no-repeat;
width: 142px;
display: block;
font-size: 0px;
height: 29px;
border: 0;
margin-left: 24px;
cursor: pointer;
border-radius: 5px;
}

.autoriz_formp {
color: #fff;
font-size: 11px;
}
#login_button {background: #4493DE;border: 0;color: #fff;height: 32px;width: 141px;margin-left: 24px;margin-top: 2px;border-radius: 5px;font-family: pf_din_text_cond_prolight;font-size: 19px;text-transform: uppercase;cursor: pointer;}

.color-box {
display: none;
}

.breadcrumbs {
font-size: 11px;
color: #000;
text-align: center;
}

.breadcrumbs a {
font-size: 11px;
color: #000;
}